<div class="card grid">
    <div class="flex justify-content-between align-items-center mb-4">
        <div class="flex gap-3 align-items-center">
            <div class="text-4xl">🛠️</div>
            <div class="flex flex-column gap-1 text-600">
                <span class="text-2xl font-semibold"><span class="text-color">ORDEN DE TRABAJO</span></span>
                <span class="font-bold text-primary">Gestion de Ordenes de Trabajo </span>
            </div>
        </div>
        <div class="flex flex-wrap gap-2">
        <p-button label="Nuevo Registro" icon="pi pi-plus"  severity="info"  (click)="nuevo()"></p-button>
        </div>
    </div>
    <div class="col-12">
        <p-fieldset legend="BUSQUEDA POR LOCALIDAD">
            <!--<div class="grid grid-cols-12 gap-4 ">
                <div  class="col-span-12 md:col-span-4" >
                    <p-floatlabel variant="on">
                        <p-select [options]="_localidad" optionLabel="descripcion"  optionValue="idSucursal" (onChange)="onSelect($event.value)"
                            filterBy="descripcion" [filter]="true" [(ngModel)]="_gestionCatastroModel.idSucursal"  class="w-full"   ></p-select> 
                        <label>Localidad</label>
                    </p-floatlabel>
                </div>
                <p-button 
                type="button" 
                [label]="selectedMember ? selectedMember.descripcion : 'Seleccionar Estado'" 
                (onClick)="toggle($event, popover)" 
                styleClass="min-w-48" 
              />
              
              <p-popover #popover>  
                <div class="col-span-12 md:col-span-4">
                  <div>
                    <span class="font-medium block mb-2">Tipo de Estado</span>
                    <ul class="list-none p-0 m-0 flex flex-col">
                      <li 
                        *ngFor="let member of members" 
                        class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border" 
                        (click)="Filtro(member, popover)"
                      >
                        <i [class]="member.icon + ' text-lg text-primary-500'"></i>
                        <div>
                          <span class="font-medium">{{ member.descripcion }}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </p-popover>
    
            </div>-->
        </p-fieldset>
        
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0" ><i class="pi pi-spin pi-spinner-dotted" style="font-size: 1rem;color: green"></i>Ordenes de Trabajo</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0" >
                    <div class="card">
                        <p-table #dt [value]="_gestionOrdenTrabajo" responsiveLayout="scroll" [rows]="20" [globalFilterFields]="['from', 'title', 'propietario','nrosuministro']"
                            [paginator]="true"[rowsPerPageOptions]="[10, 20, 30]"[rowHover]="true"dataKey="id" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Se Encontraron {first} de {last} Total {totalRecords} Registros" >
                            <ng-template #caption>
                                <div class="flex flex-wrap items-center justify-between gap-3">
                                    <h5 class="text-1xl font-semibold text-900">LISTADO DE ORDENES</h5>
                                    <div class="flex gap-2 items-center">
                                    </div>
                                    <div class="flex flex-col md:flex-row gap-4">
                                        <p-inputgroup>
                                            <p-inputgroup-addon >
                                                <i class="pi pi-search" ></i>
                                            </p-inputgroup-addon>
                                            <input pInputText style="background-color: rgb(134, 191, 213)" (input)="onGlobalFilter(dt, $event)"  placeholder="Buscar" class="w-full sm:w-auto" />
                                        </p-inputgroup>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr class="fs-12">
                                    <th style="width: 4%" class="text-center" >CODEMP</th>
                                    <th style="width: 12%" class="text-center" >CODCLIENTE</th>
                                    <th style="width: 12%"  >PROPIETARIO</th>
                                    <th style="width: 12%" >DIRECCION</th>
                                    <th style="width: 12%" class="text-center" >SECTOR</th>
                                    <!--<th style="width: 12%" class="text-center" >PRESUPUESTO</th>
                                    <th style="width: 12%" class="text-center" >NUEVO</th>-->
                                    <th style="width: 12%" class="text-center" >CREADOR</th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-gestionOrdenes>
                                <!--<tr (mouseenter)="toggleOptions($event, options, user)" (mouseleave)="toggleOptions($event, options, user)" >
                                    <td style="min-width: 4rem" class="text-center">
                                        {{ gestionCatastro.idEmpresa}}
                                    </td>
                                    <td style="min-width: 12rem" class="text-center">  
                                        {{ gestionCatastro.nrosuministro}}
                                    </td>
                                    <td style="min-width: 4rem" >
                                        {{ gestionCatastro.propietario}}
                                    </td>
                                    <td style="min-width: 4rem" >
                                        {{ gestionCatastro.direccion}}
                                    </td>
                                    <td style="min-width: 4rem" class="text-center">
                                        {{ gestionCatastro.sector}}
                                    </td>
                                    < !--<td style="min-width: 12rem" class="text-center">
                                        <span class="font-medium white-space-nowrap overflow-hidden text-overflow-ellipsis block" style="max-width: 30rem">
                                            
                                            <span  class="product-badge  fs-12" [ngClass]="{'status-instock': gestionCatastro.estado == true, 'status-outofstock': gestionCatastro.estado == false}">
                                            <span  class="fs-12 pi " [ngClass]="{'pi-check': gestionCatastro.estado == true, ' pi-times': gestionCatastro.estado == false}"></span> {{gestionCatastro.estado == true ? 'Activo' : 'Inactivo'}}</span> 
                                        </span>
                                    </td>-- >
                                    <td style="width: 12rem;" >
                                        <div class="flex justify-content-center w-full px-0">
                                            <span #user >
                                                {{ gestionCatastro.usuarioCreacion }}
                                            </span>
                                            <div style="display: none" #options>
                                                <button pButton pRipple icon="pi pi-pencil" class="p-button-success h-8 w-8 mr-2" (click)="editar($event, gestionCatastro)" pTooltip="Editar Registro" tooltipPosition="top" type="button"></button>
                                                <button pButton pRipple icon="pi pi-print" class="p-button-info h-8 w-8 mr-2"  (click)="desactivar($event, gestionCatastro)" pTooltip="Imprimir Ficha" tooltipPosition="top" type="button"></button>
                                                < ! --<button pButton pRipple icon="pi pi-check" class="p-button-warning h-8 w-8rem"  (click)="activar($event, gestionCatastro)" pTooltip="Activar" tooltipPosition="top" type="button" *ngIf="gestionCatastro.estado == false"></button>- ->
                                            </div>
                                        </div>
                                    </td>
                                </tr>-->
                            </ng-template>
                        </p-table>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>
<p-dialog header="GESTIONAR ORDENES DE TRABAJO" [modal]="true" [(visible)]="dialogForm" (onHide)="ModalClose()" modal="modal" showEffect="fade"  >
    <div class="card">
        <p-fieldset legend="INFORMACION GENERAL">
            <div class="card flex flex-col gap-4 w-full">
                <div class="grid grid-cols-12 gap-4 ">
                    <div  class="col-span-12 md:col-span-4" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled  />
                            <label >Codigo Cliente</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-4" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled  />
                            <label >Fecha Orden de Trabajo</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-4" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled  />
                            <label >Estado Orden de Trabajo</label>
                        </p-floatlabel>
                    </div>
                </div>
            </div>
            <div class="card flex flex-col gap-4 w-full">
                <div class="grid grid-cols-12 gap-4 ">
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Emisor</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Area</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Receptor</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Area</label>
                        </p-floatlabel>
                    </div>
                </div>
            </div>
            <div class="card flex flex-col gap-4 w-full">
                <div class="grid grid-cols-12 gap-3 ">
                    <div  class="col-span-12 md:col-span-3" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Codigo</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-span-12 md:col-span-2 flex items-center" >
                        <p-checkbox  value="New York" inputId="ny" />
                        <label for="ny" class="ml-2">Eventual</label>
                    </div>
                    <div  class="col-span-12 md:col-span-3" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Sucursal</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-3" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Sede</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Nombres</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Solicitante</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-3" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Documento Solicitante</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Direccion Actual</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-3" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Nro Actual</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-8" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Urbanizacion del Solicitante</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-4" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"   />
                            <label >Telefono</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Direccion</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-2" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled  />
                            <label >Numero</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-4" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled  />
                            <label >Tarifa</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Estado Servicio</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-2" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Medidor</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-2" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Consumo</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-2" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Nro Recibo</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-2" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Deuda</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-2" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Mes</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-2" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full" disabled   />
                            <label >Total Facturado</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-6" >
                        <p-floatlabel variant="on">
                            <input pInputText  class="w-full"    />
                            <label >Tipo Orden de Trabajo</label>
                        </p-floatlabel>
                    </div>
                    <div  class="col-span-12 md:col-span-12" >
                        <p-floatlabel variant="on">
                            <textarea pTextarea id="over_label" rows="5" cols="30" style="resize: none" class="w-full" ></textarea>
                            <label>Observación</label>
                        </p-floatlabel>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>
</p-dialog>