

:host ::ng-deep   .p-inputtext:disabled {
  background:#c2ddf5;
  color: #070606;
  opacity: 4.38;
}

:host ::ng-deep .tabla-scroll .p-table-scrollable-table {
  min-width: 1200px; /* o el ancho total deseado */
}


:host ::ng-deep  .p-fieldset{
border: 1.5px solid #515458 ;
}

:host ::ng-deep   .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #fafafa;
}

:host ::ng-deep .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
  color: #fafafa;
}

:host ::ng-deep  .p-sortable-column .p-sortable-column-icon {
  color: #fafafa;

}

//para el boton cerrar

:host ::ng-deep .dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

:host ::ng-deep .dialog-title {
  font-weight: bold;
  font-size: 1.2rem;
}

:host ::ng-deep .dialog-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

:host  ::ng-deep .dialog-maximized {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  transform: none !important;
  width: 100vw !important;
  height: 100vh !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  z-index: 1100;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .dialog-maximized .p-dialog-content {
  flex: 1 1 auto;
  overflow: auto;
}
//termina


:host ::ng-deep .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: #fafafa;
}
tr th {
  color: #fafafa;
  background: #009eaa; 
}

.p-sortable-column.p-highlight:hover {
background: #bbe583;
}

.p-sortable-column:not(.p-highlight):hover {
background: rgb(199, 221, 220);
}


:host ::ng-deep  .p-sortable-column.p-highlight {
background: #bbe583;
}

:host ::ng-deep  .p-dialog-header {
background: #0a89c7 !important; 
padding: 0.75rem;
color: #f6f8f9;
}

:host ::ng-deep .ui-dropdown.ui-state-disabled {
background-color: #f0f0f0 !important; 
color: #c72828 !important;             
border: 1px solid #ccc !important;    
opacity: 0.8;                         
cursor: not-allowed;                  
}

:host ::ng-deep .ui-dropdown.ui-state-disabled .ui-dropdown-label {
color: #888 !important;              
}

.porcentajes{
position: relative;
}

.porcentajes span{
position: absolute;
top: 0%;
left: 0%;
bottom: 0%;
right: 0%;
display: flex;
align-items: center;
justify-content: center;
font: 20px/1em Verdana;
font-weight: bold;
color: #0051ff;
}

.product-badge {
border-radius: 15px;
padding: 8px;
font-weight: 700;
font-size: 12px;
letter-spacing: .3px;

&.status-instock {
    background: #C8E6C9;
    color: #256029;
}

&.status-outofstock {
    background: #FFCDD2;
    color: #C63737;
}

&.status-lowstock {
    background: #FEEDAF;
    color: #8A5340;
}
}


