<!-- dashboard.component.html -->
<div class="grid grid-cols-12 gap-8 mt-1">
  <!-- <label>Hola Alex, Alex P.</label> -->
  <!-- <prisma-button variant="primary" (click)="handleClick()">
    Botón desde styleguide
  </prisma-button> -->
  <!-- <ng-container #sharedContainer></ng-container> -->
  <!-- <button pButton pRipple severity="success" (click)="testMethod()">
    <WindowMaximizeIcon pButtonIcon />
    <span pButtonLabel>label</span>
  </button> -->
  <div class="col-span-12 md:col-span-8">
    <introduce-widget />
  </div>
  <div class="col-span-12 md:col-span-4">
    <upgrade-widget />
    <!-- <stats-widget></stats-widget> -->
  </div>
  <div class="col-span-12">
    <my-workspace-widget />
    <!-- <recent-activity-widget></recent-activity-widget> -->
  </div>
  <div class="col-span-12">
    <!-- <project-progress-widget></project-progress-widget> -->
    <project-overview-widget />
  </div>

  <!-- Estadísticas -->
  

  <!-- Grilla principal -->
  <!-- <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <- Gráfico de Ventas -->
    <!-- <p-card header="Ventas Mensuales" class="lg:col-span-2">
      <p-chart type="line" [data]="salesChartData" [options]="chartOptions"></p-chart>
    </p-card> -->

    <!-- Progreso de Proyectos --
    
  </div> -->

  <!-- Actividad Reciente -->
</div>
